.productsCart {
  width: 400px;
  height: auto;
  margin: 1rem 0;
}

.ProductsImg {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.ProductsContent {
  text-align: center;
}

.ProductsContent h1 {
  font-size: 1.3rem;
}
